* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #;
	background-image: url('https://transparenttextures.com/patterns/food.png');
}

main {
	/* margin: 20px auto; */
	max-height: 80vh;
	display: grid;
	grid-template-rows: repeat(13, 0px 16px 48px);
}

/****HOME SCREEN****/

.phone {
	/* position: absolute; */
	/* z-index: -1; */
	grid-row: 32;
}

.phone-top {
	margin: 0 auto;
	z-index: 1;
	grid-row: 1;
	grid-column: 1;
}

.frame {
	margin: 0 auto;
	width: 414px;
	height: 720px;
	background: #ffffff;
	border-radius: 30px;
	/* display: grid;
	grid-template-rows: repeat(9, 80px);
	grid-template-columns: repeat(26, 16px); */
	overflow: hidden;
	/* overflow: scroll; */

	/***/
	display: flex;
	flex-direction: column;
	padding-top: 48px;
	box-shadow: 0 0 23px 0 #aaaaaa;
}

.search-form {
	display: flex;
	/* flex-direction: row; */
	align-items: center;
	justify-content: space-between;
	margin: 48px 40px 0;
}

.searchbar {
	/* border-radius: 8px; */
	display: flex;
	justify-content: center;
	border: 1px solid gray;
	border-radius: 10px;
	/* margin: 0 8px 0 0; */
}

.search-icon {
	padding: 0 8px;
}

.searchbar input {
	border-radius: 8px;
	border-style: none;
	font-size: 1rem;
	width: 200px;
}

.button-search {
	border-style: none;
	/* background: #007aff; */
	background-color: #fa7500;
	border-radius: 8px;
	color: white;
	height: 1.5rem;
	width: 72px;
	margin-left: 8px;
}

.hero {
	display: grid;
	grid-template-rows: repeat(3, 48px 24px);
	grid-template-columns: repeat(7, 16px 32px);
	/* grid-row: 2 / span 2; */
}

.hero-image img {
	border-radius: 30px;
	width: 318px;
	height: 208px;
	/* opacity: 0.8; */
}

.hero-image img:hover {
	/* opacity: 1; */
}

.hero-title {
	font-weight: 700;
	grid-row: 5;
	grid-column: 2 / span 12;

	/* grid-row: 4 / 6;
	grid-column: 2 / 13; */
}

.hero-title span {
	background-color: #f9e1ae;
	color: #555556;
}

.first-header {
	/* grid-row: 5; */
}
.first-section {
	/* grid-row: 5 / 7; */
}

.second-header {
	/* grid-row: 7; */
}
.second-section {
	/* grid-row: 7 / 9; */
}

.thumbnail-section {
	display: flex;
	overflow: auto;
	/* grid-column: 3 / 25; */
	margin: 0 42px;
}

.thumbnail-section-webkit-scrollbar {
	display: none;
}

.thumbnail-header {
	/* grid-column: 4; */
	/* margin: 0 0 8px 0; */
	margin: 0 42px;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 0.9rem;
	line-height: 16px;
	letter-spacing: 2px;
}

.thumbs {
	/* padding: 8px 8px 0 0;
	padding-left: 8px; */
	padding: 0;
	display: flex;
	flex-direction: row;
}

.thumb {
	list-style: none;
	width: 72px;
	height: 72px;
	border-radius: 10px;
	margin: 0 8px 0 0;
	display: grid;
	grid-template-rows: repeat(8, 8px);
	grid-template-columns: repeat(8, 8px);
}

/* .thumb p {
	grid-row: 4 / 9;
	grid-column: 2 / 9;
	font-weight: 200;
} */

.thumb img {
	width: 72px;
	height: 72px;
	border-radius: 10px;
}

.bottom-nav {
	/* grid-row: 9;
	display: grid;
	grid-gap: 2px;
	grid-template-rows: repeat(2, 8px);
	grid-template-columns: repeat(4, 16px); */
	grid-row: 32;
	background-color: #f6f7f8;
}
.phone-bottom {
	/* z-index: -1; */
}

.navbar-container {
	/* grid-row: 9;
	grid-column: 3 / 24; */
	display: flex;
	justify-content: space-evenly;
	z-index: 2;
	/* grid-row: 32; */
	/* position: absolute; */
	height: 122px;
}

.icon-container {
	text-align: center;
	margin-bottom: 0px;
}

.icon-text {
	font-weight: 300;
	font-size: 0.7rem;
	margin: 0 auto;
}

hr {
	width: 35%;
	/* border-width: 10; */
	background-color: black;
	height: 7px;
	border-radius: 100px;
}
/* text-align:left;
	margin-left:0; */
/****RESULTS SCREEN****/
