* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	background-image: url('https://transparenttextures.com/patterns/food.png');
	display: grid;
	grid-template-rows: repeat(13, 88px);
}

.thumbnail-section-webkit-scrollbar {
	display: none;
}

/* Main Body */
main {
	display: grid;
	grid-template-rows: repeat(10, 16px 48px);
}

/* Phone Body */
#phone-body {
	margin: 0 auto;
	width: 414px;
	height: 720px;
	background: #ffffff;
	box-shadow: 0 0 23px 0 #aaaaaa;
	border-radius: 30px;
	display: grid;
	grid-template-rows: repeat(10, 80px);
}

/* PhoneTop */
#frame-top {
	border-radius: 30px 0 30px 0;
	width: 414px;
	height: 88px;
	margin: 0;
	padding: 0;
}

/* Content */
#content {
	height: 560px;
	width: 396x;
	overflow-y: scroll;
}

/* SearchBar */
#search-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 16px 40px 0;
}

#search-div {
	display: flex;
	justify-content: 'center';
	border: 1px solid gray;
	border-radius: 10px;
}

#search-input {
	border-radius: 8px;
	border-style: none;
	font-size: 1rem;
	width: 200px;
	opacity: 0.9;
	color: black;
	height: 2rem;
}

/* Buttons */

#primary-button {
	border-style: none;
	background-color: #fa7500;
	border-radius: 8px;
	color: white;
	height: 2rem;
	width: 72px;
	margin-left: 8px;
	display: inline;
}

/* Hero */
#hero {
	display: grid;
	grid-template-rows: repeat(3, 48px 24px);
	grid-template-columns: repeat(7, 16px 32px);
	border-radius: 30px;
	width: 318px;
	height: 208px;
	margin: 16px auto;
}

#hero-image {
	opacity: 0.9;
}

#hero-image:hover {
	opacity: 1;
}

#hero-title {
	font-weight: 700;
	font-size: 2rem;
	grid-row: 3;
	grid-column: 2 / span 12;
	text-decoration: none;
}

#hero-title span {
	background-color: #f9e1ae;
	color: #555556;
}

/* ThumbSection */
#row {
	display: flex;
}

#thumb-header {
	margin: 0 42px;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 0.9rem;
	line-height: 16px;
	letter-spacing: 2px;
}

#thumb-container {
	display: flex;
	/* overflow: auto; */
	margin: 0 42px;
}

#thumb-unordered {
	padding: 0;
	display: flex;
	flex-direction: row;
}

#thumb-li {
	list-style: none;
	width: 72px;
	height: 72px;
	border-radius: 10px;
	margin: 0 8px 0 0;
	display: grid;
	grid-template-rows: repeat(8, 8px);
	grid-template-columns: repeat(8, 8px);
}

#thumb-img {
	width: 72px;
	height: 72px;
	border-radius: 10px;
	border: 1px dotted purple;
}

/* Recipe Card */
.header-details {
	padding: 0 16px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

#header-detail {
	padding: 8px 16px 0 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.header-details p {
	display: inline-block;
	margin: 8px 0 0 0;
	padding: 0;
}

/* Recipe Tabs */
.tabs {
	display: flex;
	justify-content: space-around;
}

.tab-name {
	text-decoration: none;
	color: #555556;
	margin: 16px 8px 0 0;
	padding: 8px;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 0.9rem;
	line-height: 16px;
	letter-spacing: 2px;
}

.tab {
	margin: 0;
	display: inline-flex;
}

.active {
	border-bottom: 4px solid gray;
}

.inactive {
	border-bottom: none;
}

#recipe-body {
	padding: 0 16px;
}

.recipe-section {
	font-weight: 700;
	font-size: 1.2rem;
	color: black;
	margin: 8px 0;
}

.skills-bar {
	background: #fafaf9;
	box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.1);
	border-radius: 11px;
	display: grid;
	grid-template-columns: repeat(8, 16px 32px);
	align-items: center;
	justify-content: space-around;
}

.skills-icon {
	padding: 0 8px;
	grid-column: 2;
}

.skills-text {
	color: #595959;
	display: inline-block;
	grid-column: 4 / 15;
}

.steps-container {
	display: flex;
	align-items: baseline;
}

.step-no {
	display: inline;
	margin: 0;
}

.step {
	display: inline;
	margin: 0 8px;
}

#primary-button {
	background-color: #007aff;
	color: white;
	border-radius: 14px;
	border: none;
	width: 374px;
	height: 3rem;
	grid-row: 8;
	z-index: 2;
}

.list-container {
	display: inline-flex;
	flex-direction: row;
}

.cookware {
	padding: 0;
	margin: 4px 0;
}

.cookware-item {
	list-style: none;
	margin: 0 auto;
	padding: 8px 0;
}

.checkbox {
	transform: scale(2);
	margin-right: 16px;
}
